<div class="reset-password-container">
    <h1>Imposta una nuova password</h1>
  
    @if (!successMessage()) {
      <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
        <div class="form-field">
          <label for="password">Nuova Password</label>
          <input id="password" type="password" formControlName="password">
        </div>
        <div class="form-field">
          <label for="confirmPassword">Conferma Nuova Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword">
          @if (resetForm.hasError('passwordMismatch')) {
            <small class="error-message">Le password non corrispondono.</small>
          }
        </div>
  
        @if (authService.state.isLoading()) {
          <p>Salvataggio...</p>
        } @else {
          <button type="submit" [disabled]="resetForm.invalid">Salva Nuova Password</button>
        }
        @if (formError()) {
          <p class="error-message">{{ formError() }}</p>
        }
      </form>
    } @else {
      <p class="success-message">{{ successMessage() }}</p>
      <a routerLink="/auth/login">Torna al Login</a>
    }
  </div>